<appSettings>

<!-- Email Account-->

  <add key="MailFrom" value="xxxx@xxxx.xxx" />
  <add key="MailAccount" value="xxxx@xxxx.xxx" />
  <add key="MailPassword" value="xxxxxx" />
  <add key="MailSmtpServer" value="smtp.gmail.com" />
  <add key="MailSmtpPort" value="587" />
  
<!-- Twilio test credentials -->
<!-- Use these keys for testing -->

<add key="Twilio_AccountSid" value="AC95c503da49917333584c4f9e6748f3e1" />
<add key="Twilio_AuthToken" value="1ee5646d9e6a426f3dc2339aa4303df7" />

<!-- 

  Send SMS
  POST https://api.twilio.com/2010-04-01/Accounts/{TestAccountSid}/SMS/Messages
  
  Making Calls
  POST /2010-04-01/Accounts/{TestAccountSid}/Calls
  
  
  From PhoneNumbers:
  +15005550001 = invalid
  +15005550007 = not owned or not SMS capable
  +15005550008 = Queue full error 21611
  +15005550006 = valid passes all validation
  
  To PhoneNumbers:
  +15005550001 = invalid Error 21211
  +15005550002 = twilio can not route to this number 21612
  +15005550003 = no international permissions 21408
  +15005550004 = blacklisted 21610
  +15005550009 = incapable of receiving SMS 21614
  +15005550006 = valid passes all validation
  
-->


</appSettings>