@{
    ViewBag.Title = "Email Confirmado";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>Obrigado por confirmar o seu email.</p>
    <p>&nbsp;</p>
    <p>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
    <p>&nbsp;</p>
</div>
