@{
    ViewBag.Title = "Verification Code Confirmation Sent";
    ViewBag.Title = "Link para Confirmação de Email Enviada";
    var message = "Please check your email to confirm your account.";
    message = "Por favor clique no link enviado para seu email para confirmar a sua conta.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @message
    </p>
    <p>&nbsp;</p>
</div>

